<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
  <div class="main w-full min-h-screen bg-white-900">
    <div class="form px-10 py-10">
      <form action="">
        <input class="block px-5 py-2 bg-white-800" type="text" placeholder="Title goes here">
        <textarea class="block px-5 py-2 rersize-none" placeholder="Write your task details here"></textarea>
        <input type="submit" value="Create Tasks">
      </form>
    </div>
    <div class="tasks"></div>

  </div>
</body>
</html>